*{
    padding: 0px;
    margin: 0px;
    font-family: 'Playfair Display', serif;
}
body{
    width: 100vw;
    height: 100vh;
}
header{
    background-color: skyblue;
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 5vw;
}
main{
    background-color: #ADD8E6;
    height: 80vh;
    display: flex;
    flex-direction: column;
}
footer{
    height: 8vh;
    background-color: #ADD8E6;
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vh;
    text-decoration-line: underline;
}
.descricao{  
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vw;
}
.container{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.container > a{
    text-decoration: none;
    color: black;
    font-size: 4vw;
    background-color: skyblue;
    border: 0.5vw black solid;
    padding: 5vh 20vw;
    border-radius: 30vw;
}
.container > a >img{
    width: 3vw;
    margin-right: 2vw;
}